name: Verify PR

on:
  pull_request:
    types: [opened, reopened, edited, synchronize]

permissions:
  contents: read
env:
  NODE_VERSION: 25.x

jobs:
  verifypr:
    name: Verify PR
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js ${{ env.NODE_VERSION }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          cache: 'yarn'

      - run: yarn --pure-lockfile
      - run: yarn ci
